<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
    <Properties>
        <Property name="logsFilepath">$${log4j:configParentLocation}/logs/</Property>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} - %-5p: [%t] %c{}:%L - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" disableAnsi="false"/>
        </Console>
        <RollingFile
                name="FILE_LOG"
                fileName="${logsFilepath}/log.log"
                filePattern="${logsFilepath}/log.%d{yyyy-MM-dd}-%i.log.zip"
                ignoreExceptions="false">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}" disableAnsi="false"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="FILE_LOG"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="com.gmail.maxsvynarchuk" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE_LOG"/>
        </Logger>
    </Loggers>
</Configuration>