<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} - %level: [%thread] %logger:%L - %msg%n"/>
    <property name="logsFilepath" value="./logs/"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logsFilepath}/log.log</file>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logsFilepath}/log.%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="FILE_LOG" />
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.gmail.maxsvynarchuk" level="DEBUG" additivity="false">
        <appender-ref ref="FILE_LOG" />
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>